{% load staticfiles %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!--Morris CSS-->
    <script src="{% static 'js/morris.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script>

    <!--Bower CSS -->
    <script src="{% static 'js/bower.json' %}"></script>
    <script src="{% static 'js/bower.travis.json' %}"></script>

    <!--Thir party CSS -->
    <script src="{% static 'js/package.json' %}"></script>
    <script src="{% static 'js/Gruntfile.js' %}"></script>



    <script src="{% static 'js/bootstrap-checkbox-radio-switch.js' %}"></script>
    <script src="{% static 'js/light-bootstrap-dashboard.js' %}"></script>
